#Ignore large data files

*.h5ad
*.RData
*.tiff
*.idx
*.err
*.out
*.fastq
*.fastq.gz
./gallus_gallus/R/kallisto/mus_musculus/mus_musculus.idx
./kallisto/mus_musculus/mus_musculus.idx
./mus_musculus/tabula_muris_senis/R/results/Results_tabula_muris_senis.RData
./mus_musculus/tabula_muris_senis/R/data_files/tabula-muris-senis-facs-processed-official-annotations-Skin.h5ad
./mus_musculus/tabula_muris_senis/R/data_files/tabula-muris-senis-facs-processed-official-annotations-Brain_Non-Myeloid.h5ad
./mus_musculus/tabula_muris_senis/R/data_files/tabula-muris-senis-facs-processed-official-annotations-Liver.h5ad
./mus_musculus/tabula_muris_senis/R/data_files/tabula-muris-senis-facs-processed-official-annotations-Lung.h5ad
./mus_musculus/tabula_muris_senis/R/data_files/tabula-muris-senis-facs-processed-official-annotations-Limb_Muscle.h5ad
./data/mus_musculus/pop_gen/Florida_mus_musculus_tajimasD
./data/mus_musculus/pop_gen/Florida_mus_musculus_tajimasD_cds_map.bed
./data/mus_musculus/pop_gen/FRA_mus_musculus_tajimasD
./data/mus_musculus/pop_gen/FRA_mus_musculus_tajimasD_cds_map.bed
./data/mus_musculus/pop_gen/Georgia_mus_musculus_tajimasD
./data/mus_musculus/pop_gen/GER_mus_musculus_tajimasD
./data/mus_musculus/pop_gen/GER_mus_musculus_tajimasD_cds_map.bed
./data/mus_musculus/pop_gen/mus_musculus_tajimasD
./data/mus_musculus/pop_gen/New_Hampshire-Vermont_mus_musculus_tajimasD
./data/mus_musculus/pop_gen/New_Hampshire-Vermont_mus_musculus_tajimasD_cds_map.bed
./data/mus_musculus/pop_gen/Pennsylvania_mus_musculus_tajimasD
./data/mus_musculus/pop_gen/Pennsylvania_mus_musculus_tajimasD_cds_map.bed
./data/mus_musculus/pop_gen/Virginia_mus_musculus_tajimasD
./data/mus_musculus/pop_gen/Virginia_mus_musculus_tajimasD_cds_map.bed
